<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
</head>
<body style="font-family:Verdana;">
<br>
<div class="center jumbotron">
  <h1 style="padding-bottom: 20px">AlphaBlog</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
</body>
</html>
