$navbar-default-bg: lightyellow;

.navbar {
background-color: #599c59 !important;
}

.navbar-brand {
font-size: 3rem;
}

@import 'bootstrap/dist/css/bootstrap';

#logo{
  float:left;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
}

#first_item{
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('blog_home.jpeg') ;
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  text-align: center;
}

.btn-xlarge {
  background-color: rgb(226, 17, 139);
}

.btn-primary{
  background-color: lightgreen;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

.article-meta-details{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 20px;
}

.article-title{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  text-align: center;
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 5px;
}